li {
    color: red; 
}

h1 {
    color: cornflowerblue;
}

body {
    /* background: linear-gradient(red, aliceblue, blue, green, white, black); */
    background: linear-gradient(to bottom right, aliceblue, steelblue);
    height:100vh;
}