.nav-item {
    /* color: red;  */
    list-style: none;
}
a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: black;   
}

h1 {
    color: cornflowerblue;
}

body {
    /* background: linear-gradient(red, aliceblue, blue, green, white, black); */
    background: linear-gradient(to bottom right, aliceblue, steelblue);
    height:100vh;
    font-family: 'Cabin', sans-serif;
}

.create-button {
    font-size:24px;
    background-color: white;
    border:2px solid blue;
    border-radius: 10px;
}

.nav-bar {
    width:500px;
    display:flex;
    justify-content: space-evenly;
}
